menu "Custom LCD I2C mapping"
config LCD_RS_PIN
    int "LCD RS pin"
    default 0
    range 0 7
config LCD_E_PIN    
    int "LCD E pin"
    default 1
    range 0 7
config LCD_BACKLIGHT_PIN    
    int "LCD BACKLIGHT pin"
    default 2
    range 0 7
config LCD_D4_PIN  
    int "LCD D4 pin"  
    default 3
    range 0 7
config LCD_D5_PIN
    int "LCD D5 pin"    
    default 4
    range 0 7
config LCD_D6_PIN 
    int "LCD D6 pin"   
    default 5
    range 0 7
config LCD_D7_PIN    
    int "LCD D7 pin"
    default 6
    range 0 7
config COLLUNMS    
    int "LCD num of columns"
    default 16
    range 0 100
config ROWS    
    int "LCD num of rows"
    default 2
    range 0 4
endmenu